<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080662988948-4o45drc3di7srn03vvsoq2s7sbk37mt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080662988948-4o45drc3di7srn03vvsoq2s7sbk37mt2</string>
	<key>API_KEY</key>
	<string>AIzaSyAeQmwjEUpu2NSEMc1aFx0L0v_yDJkKYA8</string>
	<key>GCM_SENDER_ID</key>
	<string>1080662988948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blogappz3.erkam.blog</string>
	<key>PROJECT_ID</key>
	<string>bloggzzi</string>
	<key>STORAGE_BUCKET</key>
	<string>bloggzzi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080662988948:ios:59a71dde30ffb96d43fc81</string>
</dict>
</plist>